.navbar {
    background: rgb(32, 135, 32);
}

.btn-primary {
    background: rgb(32, 135, 32);
}


.text-navbar {
   color: rgb(32, 135, 32);
}

.header-button {
    width: 190px;
    color: rgb(31, 31, 31);
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    font-style: italic;
    font-size: large;
    font-weight: 600;
    border-radius: 6px;
}

.introductions {
    background: rgb(9, 80, 9);
}

.header-button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(32, 135, 32);
    color: black;
    font-weight: 800;
    padding: 15px 26.5px;
}

.vacation-icon {
    font-size: 1.5rem;
    padding: 5px;
}

.vacation-icon:hover {
    cursor: pointer;
    font-size: 2rem;
}

.btn-plus {
    margin-left: 4px;
}